{% extends 'base.twig' %}

{% import 'mixins.twig' as mixin %}
{% import 'svgs.twig' as svg %}

{% set hero_content = post.get_field('hero_content') %}
{% set bg_image = post.get_field('bg_image') %}
{% set contacts = post.get_field('contacts') %}
{% set cf_shortcode = post.get_field('cf_shortcode') %}

{% block content %}
<div class="content">
  <div class="contact-hero">
    {{ mixin.parallax_bg(hero_content.bg_image.url) }}
  </div> <!-- end .contact-hero -->
  <section class="contact-content" style="background-image: url('{{ bg_image.url }}');">
    <div class="ss-animate title" data-animation="ssFadeInUp">{{ hero_content.title }}</div>
    <ul class="contact-info">
      <li class="ss-animate" data-animation="ssFadeIn"><a href="mailto:{{ contacts.email }}">{{ svg.email_2() }} {{ contacts.email }}</a></li>
      <!-- <li class="ss-animate" data-animation="ssFadeIn" data-animation-delay="150"><a href="tel:{{ contacts.phone_number | replace({' ': ''}) }}">{{ svg.phone_2() }} {{ contacts.phone_number }}</a></li>
      <li class="ss-animate" data-animation="ssFadeIn" data-animation-delay="300"><a href="skype:{{ contacts.skype }}">{{ svg.skype() }} Skype: {{ contacts.skype }}</a></li>-->
    </ul>

    <div class="contact-form ss-animate" data-animation="ssFadeIn">
      {{ do_shortcode(cf_shortcode) }}

      <!-- <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="cf-your-name">Your Name:</label>
            <input type="text" class="form-control" id="cf-your-name">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="cf-your-email">Your Email:</label>
            <input type="email" class="form-control" id="cf-your-email">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="cf-your-message">Your Message:</label>
        <textarea rows="10" class="form-control" id="cf-your-message"></textarea>
      </div>

      <button type="submit" class="btn btn-secondary">{{ svg.email_2() }} Send Message</button> -->
    </div>
  </section> <!-- end .contact-content -->
</div>
{% endblock %}
